.pricing{
    background-color: #f5f5f5;
}

.pricing__title{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 36px;
    margin-top: 80px;
}

.pricing__title-devider{
    width: 64px;
    height: 2px;
    background-color: #d98943;
    margin: 20px auto;
}

.pricing__title-description{
    text-align: center;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 62px;
}

li {
    list-style-type: none;
}

.pricing__card{
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
    margin-left: 113px;
    margin-right: 112px;
    flex-wrap: wrap;
}

.pricing__card-item{
    width: 340px;
    
}

.pricing__subtitle{
background-color: #333333;
color: #ffffff;
text-align: center;
line-height: 50px;
font-weight: 700;
border-bottom: 1px solid #ffffff;
font-size: 20px;
margin-bottom: 1px;
}

.pricing__cost{
background-color: #333333;
color: #ffffff;
text-align: center;
font-family: 'Raleway';
font-size: 35px;
font-weight: 700;
line-height: 100px;
border-bottom: 1px solid #ffffff;
margin-bottom: 2px;
}

.pricing__text{
height: 50px;
background-color: #333333;
color: #ffffff80;
text-align: center;
font-family: 'Open Sans';
font-weight: 800;
font-size: 14px;
margin-bottom: 4px;
padding-top: 17px;
padding-bottom: 14px;
}

.pricing__text_orange{
background-color: #D98943;
}

.pricing__item{
background-color: #ffffff;
font-family: 'Open Sans';
font-size: 14px;
font-weight: 400;
text-align: center;
color: #86878B;  
margin-bottom: 4px;
line-height: 40px;
}
