.testimonials{
    padding-bottom: 100px;
}

.testimonials__title{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;

}

.testimonials__title::after{
    display: block;
    width: 64px;
    content: '';
    border-bottom: 2px solid #E72424;
    margin: 40px auto;
}

.testimonials__subtitle{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: #86878B;
    text-align: center;
    margin: 40px auto;
}

.testimonials__card-container{
    display: flex;
    justify-content: center;
    margin: 0 100px;
}

.testimonials__card{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 25px;
}

.testimonials__card-text{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: #86878B;
    background-color: #E2E2E2;
    border-radius: 7px;
    height: 110px;
    text-align: center;
    padding-top: 25px;
}

.testimonials__square{
    background-color: #E2E2E2;
    width: 17px;
    height: 17px;
    transform: rotate(45deg);
    position: relative;
    left: 45px;
    top: -9.5px;
}

.testimonials__card-info{
    display: flex;
    justify-content: space-around;
}

.testimonials__card-name{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 20px;
}

.testimonials__card-position{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: #86878B;
}
